- return if @quick_edit
- f.object.ksk_images_for_crop.each_pair do |image_name, style_names|
  - f.object.send(image_name).styles.each_pair do |style, meta|
    - if style_names.any?
      - next unless style_names.include?(style)
    = render partial: 'bhf/form/column/crop_style', locals: {style: style, meta: meta, f: f, field: field}
