= node f, field do
  - if f.object.file.file?
    - if f.object.is_image?
      = image_tag f.object.file.url(:thumb), class: :uploaded_image
    - else
      = link_to f.object.file_file_name, f.object.file.url, class: :uploaded_file
